:root {
  color-scheme: dark;
  background: #070a14;
}

html,
body,
cast-media-player {
  width: 100%;
  height: 100%;
  margin: 0;
  background: radial-gradient(circle at 20% 10%, #1f3263, #070a14 70%);
}
