[Desktop Entry]
Name=JamHorse
Comment=Jellyfin music player
Exec=jamhorse
Icon=com.aspenini.jamhorse
Terminal=false
Type=Application
Categories=Audio;Music;Player;
